@import 'utils/variables';
@import 'components/type';

body{
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.main{
    margin-left: 20px;
    margin-right: 20px;
    
}

.bg_image{
    background-image: url('../assets/images/Home_background@2x 1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 46vh;
    width: 100%;

}

.logo{
    width: 46%;
    height: auto;
    top: 15%;
    position: relative;
    margin: 8px;

}

h2{
    color: var(--color-H2);
    line-height: var(--titre-line-height);
    font-family: var(--titre);
    font-size: var(--H2);
    font-weight: var(--weight-regular);
}

h3{
    color: var(--color-H3);
    line-height: var(--titre-line-height);
    font-family: var(--titre);
    font-size: var(--H3);
    font-weight: var(--weight-regular);
}

h4{
    color: var(--color-H3);
    line-height: var(--titre-line-height);
    font-family: var(--titre);
    font-size: var(--H4);
    font-weight: var(--weight-regular);
}

p{
    color: var(--color-Texte);
    line-height: var(--texte-line-height);
    font-family: var(--texte);
    font-size: var(--Texte);
    font-weight: var(--weight-regular);
}

a{
    color: var(--color-primary);
    line-height: var(--texte-line-height);
    font-family: var(--titre);
    font-size: var(--Texte);
    font-weight: var(--weight-regular);
}

.title_section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.color_paragraphe{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    background: url(../assets/images/noise-min.png), linear-gradient(to bottom, var(--color-six), var(--color-cinq), var(--color-primary));
    
    width: 100%;
    height: 100px;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.logo_nav{
    width: 15%;
    height: 5%;
    position: relative;

}

.Ligne_nav{
    display: block;
    background-color: var(--color-secondary);
    width: 100vw;
    height: 2px;
    margin: 8px;
    align-self: center;
    border-radius: 15px;
}

.Ligne_deco{
    display: block;
    background-color: var(--color-trois);
    width: 100vw;
    height: 2px;
    margin: 8px;
    align-self: center;
    border-radius: 15px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    align-items: center;

}

.menu_footer{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

}

a{
    text-decoration: none;
}

footer{
    background-color: var(--color-Texte);
}

.logo_footer{
    display: flex;
    width: 15%;
    height: 5%;
    position: relative;
    margin: auto;

}

.perso1{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #d6b2a6; /* couleur du fond rond */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    padding: 8px;
}

.img_perso1{
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

}

button{
    background-color: var(--color-secondary);
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: #A1766D 4px 4px 7px -1px;
}

.section_mal { 
    position: relative;
}

.section_mal::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  left: 50%; 
  transform: translateX(-50%);
  background: var(--color-secondary);
  border-radius: 50%;
  filter: blur(40px);
  z-index: 0;
}

.section_mal > * { 
    position: relative;
    z-index: 1; 
}

.section_borne { 
    position: relative;
}

.section_borne::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  left: 50%; 
  transform: translateX(-50%);
  background: var(--color-trois);
  border-radius: 50%;
  filter: blur(40px);
  z-index: 0;
}

.section_borne > * { 
    position: relative;
    z-index: 1; 
}
    /* ------- MEDIA QUERIES ------- */


/* Tablet */

@media (min-width: 834px) {

    h2{
    font-size: var(--H2-tab);
}

h3{
    font-size: var(--H3-tab);

}

h4{
    font-size: var(--H4-tab);

}

p{
    font-size: var(--Texte-tab);
}

a{
    font-size: var(--Texte-tab);

}


}

/* Ordi */

@media (min-width: 1280px) {

    h2{
    font-size: var(--H2-ordi);
}

h3{
    font-size: var(--H3-ordi);

}

h4{
    font-size: var(--H4-ordi);

}

p{
    font-size: var(--Texte-ordi);
}

a{
    font-size: var(--Texte-ordi);

}
}

