@import 'utils/variables';
@import 'components/type';

body{
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;

    .main{
    margin-left: 20px;
    margin-right: 20px;
    
    }
}

.bg_image{
    background-image: url('../assets/images/Home_background@2x 1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    margin-top: 0;
    height: clamp(80vh, 100vh, 120vh);

    .logo{
    width: 46%;
    height: auto;
    top: 10%;
    position: relative;
    margin: 8px;

    }

}


h2{
    color: var(--color-H2);
    line-height: var(--titre-line-height);
    font-family: var(--titre);
    font-size: var(--H2);
    font-weight: var(--weight-regular);
}

h3{
    color: var(--color-H3);
    line-height: var(--titre-line-height);
    font-family: var(--titre);
    font-size: var(--H3);
    font-weight: var(--weight-regular);
    margin-bottom: 24px;
    margin-top: 0;
}

h4{
    color: var(--color-H3);
    line-height: var(--titre-line-height);
    font-family: var(--titre);
    font-size: var(--H4);
    font-weight: var(--weight-regular);
    margin-top: 16px;
    margin-bottom: 0%;
}

p{
    color: var(--color-Texte);
    line-height: var(--texte-line-height);
    font-family: var(--texte);
    font-size: var(--Texte);
    font-weight: var(--weight-regular);
    margin-bottom: 16px;
    margin-top: 0;
}

.nav_a, .footer_a{
    color: var(--color-primary);
    line-height: var(--texte-line-height);
    font-family: var(--titre);
    font-size: var(--Texte);
    font-weight: var(--weight-regular);
    text-decoration: none;
    transition: all ease 0.3s;
}

.nav li:hover {
    transform: scale(1.2);
}

.nav_a:hover{
    color: var(--color-secondary);
}

.title_section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.color_paragraphe{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    background: url(../assets/images/noise-min.png), linear-gradient(to bottom, var(--color-six), var(--color-cinq), var(--color-primary));
    
    width: 100%;
    height: 100px;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    padding: 8px;

    .logo_nav{
    width: 15%;
    height: 5%;
    position: relative;

    }

    .Ligne_nav{
    display: block;
    background-color: var(--color-secondary);
    width: 100vw;
    height: 2px;
    margin: 8px;
    align-self: center;
    border-radius: 15px;
    }

    .menu{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    align-items: center;

    }
}



.Ligne_deco{
    display: block;
    background-color: var(--color-trois);
    width: 100vw;
    height: 2px;
    margin: 8px;
    align-self: center;
    border-radius: 15px;
}

footer{
    background-color: var(--color-Texte);
    margin-top: 48px;

    .menu_footer{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    }

    .logo_footer{
    display: flex;
    width: 15%;
    height: 5%;
    position: relative;
    margin: auto;
    padding: 16px;

    }

    .Ligne_Footer{
        display: block;
        background-color: var(--color-secondary);
        width: 60vw;
        height: 2px;
        margin: 0;
        align-self: center;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 24px;
    }

    .copy{
        color: var(--color-primary);
        line-height: var(--texte-line-height);
        font-family: var(--texte);
        font-size: var(--Texte);
        font-weight: var(--weight-regular);
        text-align: center;
        padding-bottom: 8px;
    }
}

.perso1{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #d6b2a6; /* couleur du fond rond */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    padding: 8px;
    margin-bottom: 16px;

    .img_perso1{
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

    }
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 48px;

    button{
    background-color: var(--color-secondary);
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: #A1766D 4px 4px 7px -1px;
    }
}

.text-container {
  max-height: 380px;
  overflow: hidden;
  position: relative;
}

.text-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background: linear-gradient(to top, var(--color-primary), transparent);
  filter: blur(1px);
}

.hidden-text {
  display: none;
  margin-top: 16px;
}




.section_mal { 
    position: relative;

    
    
}

.section_mal::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  left: 50%; 
  transform: translateX(-50%);
  background: var(--color-secondary);
  border-radius: 50%;
  filter: blur(40px);
  z-index: 0;

  
}

.section_mal > * { 
    position: relative;
    z-index: 1; 
}

.section_borne { 
    position: relative;
}

.section_borne::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  left: 50%; 
  transform: translateX(-50%);
  background: var(--color-trois);
  border-radius: 50%;
  filter: blur(40px);
  z-index: 0;
}

.section_borne > * { 
    position: relative;
    z-index: 1; 
}

.niveaux{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;

    
    .img-niveau{
        width: 180px;
        border: solid 3px var(--color-secondary);
        border-radius: 24px;
        
        &:hover{
            border: solid 3px var(--color-H2);
            rotate: -3deg;

        }

        }
        


}

.page_niveaux{
    position: relative;
    z-index: 0;
    width: 100vw;
    overflow: hidden; 
    background-image: url('../assets/images/Lvl01_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    

    .margin{
        margin-top: 0%;
    }
}

.page_niveaux::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url('../assets/images/Lvl01_background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(15px);
  transform: scale(1.06);
  z-index: -100;
}

.page_niveaux::after {
  content: "";
  position: fixed;
  inset: 0;
  background: #ffffff(0, 0, 0, 0.1);
  filter: blur(15px);
  z-index: -99;
}

.section_niveaux{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 48px;
    padding-left: 20px;
    padding-right: 20px;
}

.img_Niveaux{
    display: none;
    width: 500px;
    height: 300px;
    border-radius: 90px;
    background-color: var(--color-primary);
    border: solid 4px var(--color-secondary);
    rotate: -8deg;
}

.fleche_retour{
    display: flex;
    width: 24px;
    height: auto;
    z-index: 1;
    margin: 16px;
}

    /* ------- MEDIA QUERIES ------- */


/* Tablet --------------------------------------------------------------------------------------------*/

@media (min-width: 834px) {

h2{
    font-size: var(--H2-tab);
}

h3{
    font-size: var(--H3-tab);

}

h4{
    font-size: var(--H4-tab);
    margin-top: 0%;

}

p{
    font-size: var(--Texte-tab);
}

a{
    font-size: var(--Texte-tab);

}

.bg_image{
    /* height: 80vh; */
    height: clamp(100vh, 110vh, 120vh);

    .logo{
    top: 10%;
    margin: 16px;

    }

}

body{
    .main{
    margin-left: 60px;
    margin-right: 60px;
    
    }

}

.nav{
    padding: 16px;

    .Ligne_nav{
    height: 3px;
    margin: 16px;
    }

    .menu{
    gap: 16px;

    }
}

.color_paragraphe{
    height: 200px;

}

.title_section{
    gap: 16px;
    margin-top: 72px;
    margin-bottom: 72px;
}

.section-intro{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 96px;

 .perso1{
    width: 165vw;
    height: 400px;
    border-radius: 60px;
    background-color: var(--color-set);
    border: solid 4px var(--color-secondary);
    padding: 16px;
    padding-bottom: 0%;
    margin-bottom: 16px;
    rotate: 10deg;
    margin: 25px;

    .img_perso1{
    width: 100%;
    height: 100%;
    }
}
}

.btn {
    display: none;
}

.section_mal{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.niveaux{
    gap: 72px;

    .img-niveau{
    width: 280px;
    border: solid 4px var(--color-secondary);
    border-radius: 16px;
    margin-bottom: 32px;

}
}

.btn-scroll{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 48px;
    justify-content: flex-end;
    align-items: center; 

    img{
    width: 20px;
    height: auto;
    }
}

.section_borne{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;

}

.page_niveaux{
    

    .margin{
        margin-top: 48px;
    }
}

.section_niveaux{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    width: 500px;
    padding-bottom: 48px;
    padding-left: 104px;
}

.img_Niveaux{
    display: block;
    width: 500px;
    height: 300px;
    border-radius: 90px;
    background-color: var(--color-primary);
    border: solid 4px var(--color-secondary);
    rotate: -8deg;
}

}



/* Ordi */

@media (min-width: 1280px) {

h2{
    font-size: var(--H2-ordi);
}

h3{
    font-size: var(--H3-ordi);
    margin-bottom: 32px;

}

h4{
    font-size: var(--H4-ordi);

}

p{
    font-size: var(--Texte-ordi);
    margin-bottom: 24px;
}

a{
    font-size: var(--Texte-ordi);

}

.bg_image{
    /* height: 110vh; */
    height: clamp(100vh, 110vh, 120vh);

    .logo{
    top: 12%;
    margin: 32px;

    }

}

.nav{
    padding: 32px;

    .Ligne_nav{
    height: 4px;
    margin: 32px;
    }

    .menu{
    gap: 32px;

    }
}

.color_paragraphe{
    height: 250px;

}

.title_section{
    gap: 32px;
    margin-top: 96px;
    margin-bottom: 96px;
}

.section-intro{
    gap: 120px;
    align-items: center;
    justify-content: flex-end;

 .perso1{
    width: 16vw;
    height: 475px;
    }
}


.section_mal{
    width: 750px;
}

.section_mal::before{
     width: 140%;
}

.niveaux{
    gap: 96px;

    .img-niveau{
    width: 500px;
    border: solid 4px var(--color-secondary);
    border-radius: 24px;

}
}

.section_borne{
    width: 750px;
    margin-bottom: 96px;

}
.section_borne::before{
     width: 140%;
     height: 115%;
     

}

.text-container{
    width: 700px;
}

.page_niveaux{

    .margin{
        margin-top: 72px;
    }
}

.section_niveaux{
    margin-top: 48px;
    width: 800px;
    padding-bottom: 72px;
    padding-left: 112px;
}

.img_Niveaux{
    display: block;
    width: 600px;
    height: 350px;
    border-radius: 90px;
}
}

